
body{
    font-family: Roboto, Arial;
    padding-top: 80px;
    padding-left: 96px;
    padding-right: 24px;
    background-color: #181818;
    color: white;
    margin: 0;
    padding: 0;
    display: grid;

}
.movs img{
    height: 400px; 
    width: 300px;
    object-fit: cover;
}
.movs img:hover{
    transform: scale(1.2);
    transition-duration: 0.7s;
}
